name: build
on:
  push:

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Get repo name
        id: get_repo
        run: echo ::set-output name=REPO::${GITHUB_REPOSITORY#*/}

      - name: Setup java 25
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '25'
          cache: 'gradle'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Gradle build
        run: |
          ./gradlew build
          mkdir data
          cp ./build/libs/${GITHUB_REPOSITORY#*/}-*.jar ./data/app.jar


      - name: Upload a Build Artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{steps.get_repo.outputs.REPO}}
          path: ./data/app.jar

## Uncomment to trigger a build and publish image to ACR
#      - name: Start publish workflow
#        if: github.ref == 'refs/heads/main'
#        uses: peter-evans/repository-dispatch@v1
#        with:
#          token: ${{ secrets.GITHUBACTION_TOKEN }}
#          repository: ${{ github.repository }}
#          event-type: trigger-to-publish
